.customers {
  margin: 0 0 127px;
}

.customers__title {
  margin: 130px 0 0;
}

.customers__container {
  margin: 30px 0 0;
}

.customer__photo {
  display: block;
  margin: 0 auto;
  max-width: 100px;
}

.customer__name,
.customer__company {
  color: $secondary-color;
  display: block;
  line-height: 24px;
}

.customer__name {
  margin: 21px 0 0;
}

.customer__company {
  color: #646464;
  line-height: 18px;
}

.customer__quote {
  line-height: 36px;
  margin: 100px auto 0;
  max-width: 936px;
  position: relative;

  &::before {
    color: #efefef;
    content: '“';
    font-family: Georgia;
    font-size: 150px;
    font-weight: 400;
    height: 40px;
    left: -62px;
    line-height: 36px;
    position: absolute;
    top: 30px;
    width: 50px;
  }
}

.customers__switchers {
  margin: 45px 0 0;
  text-align: center;
  width: 100%;
}
