.intro__content {
  color: #fff;
  width: 100%;

  @media (min-width: $medium-screen-up) {
    width: 50%;
  }

  @media (min-width: $large-screen-up) {
    width: 40.598290598291%;
  }
}

.intro__title {
  font-family: $raleway;
  margin: 50px 0 0;

  @media (min-width: $medium-screen-up) {
    margin: 172px 0 0;
  }
}

.intro__item {
  position: relative;

  &::before {
    color: #fff;
    content: '\e800';
    display: block;
    font-family: 'fontello';
    font-size: 28px;
    left: -23px;
    position: absolute;
    text-transform: uppercase;
    top: 1px;
  }
}

.intro__title,
.intro__subtitle,
.intro__item,
.intro__btn {
  line-height: 36px;
}

.intro__list {
  margin: 30px 0 0 23px;
}

.intro__btn {
  background-color: $primary-color;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family: $open-sans;
  font-size: 20px;
  height: 49px;
  line-height: 49px;
  margin: 70px 0 0 10px;
  padding: 0 0 0 22px;
  width: 212px;

  &::before {
    content: url('../../images/icons/download.png');
    display: block;
    float: left;
    margin: 8px 20px 0 0;
  }
}

.intro__img-wrapper {
  position: relative;
  width: 100%;

  @media (min-width: $medium-screen-up) {
    width: 50%;
  }

  @media (min-width: $large-screen-up) {
    width: 59.401709401709%;
  }
}

.intro__img {
  display: block;
  opacity: 0;
  position: absolute;
  transform: translate(50%, 0);
  transition: transform 1s ease-out, opacity .8s ease-out;

  &.mod-small {
    background: url('../../images/iphone-small.png');
    display: none;
    height: 600px;
    right: 152px;
    top: 174px;
    width: 346px;
    z-index: 1;

    @media (min-width: $large-screen-up) { display: block; }
  }

  &.mod-big {
    background: url('../../images/iphone-big.png');
    display: none;
    height: 663px;
    right: 45px;
    top: 110px;
    transition-delay: .5s;
    width: 382px;

    @media (min-width: $medium-screen-up) { display: block; }
  }

  &.is-shown {
    opacity: 1;
    transform: translate(0);
  }
}
