.team__title {
  margin: 88px 0 0;
}

.team__intro {
  color: rgba($secondary-color, .8);
  display: block;
  margin: 26px auto 103px;
  max-width: 965px;
}

.team__item {
  display: block;
  float: none;
  margin: 0 auto 20px;
  max-width: 270px;
  width: 100%;

  &:last-child {
    margin: 0 auto 20px;
    @media (min-width: $large-screen-up) { margin: 0; }
  }

  &:hover {
    .team__info { transform: translate(0, 0) scale(1); }
    .team__name { color: $primary-color; }
  }

  @media (min-width: $medium-screen-up) {
    float: left;
    width: 50%;
  }

  @media (min-width: $large-screen-up) {
    margin: 0 2.564102564103% 0 0;
    width: 23.076923076923%;
  }
}

.team__block {
  font-size: 0;
  overflow: hidden;
  position: relative;
}

.team__info {
  background-color: rgba(#0eb493, .85);
  color: #fff;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transform: translate(-100%, 100%) scale(0.5);
  transition: transform .3s ease-out;
  width: 100%;
}

.team__subtitle,
.team__desc {
  margin: 0 auto;
  max-width: 230px;
  padding: 0 10px;
}

.team__subtitle {
  margin: 17px auto 8px;
}

.team__desc {}

.team__social {
  bottom: 23px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.team__link {
  background-color: rgba(#000, .3);
  color: #fff;
  display: inline-block;
  font-size: 24px;
  height: 42px;
  line-height: 42px;
  margin: 0 4px 0 0;
  text-decoration: none;
  transition: background-color .3s ease;
  width: 42px;

  &::before { font-family: 'fontello'; }

  &.mod-twitter::before { content: '\f099'; }
  &.mod-facebook::before { content: '\f09a'; }
  &.mod-google::before { content: '\f30f'; }

  &:hover { background-color: rgba(#000, .7); }
}

.team__name {
  color: $secondary-color;
  margin: 15px 0 4px;
}

.team__position {
  color: rgba($secondary-color, .56);
}

.team__intro,
.team__subtitle,
.team__desc,
.team__position,
.team__name {
  line-height: 24px;
}
