.intro__content {
  color: #fff;
  width: 40.598290598291%;
}

.intro__title {
  font-family: $raleway;
  margin: 172px 0 0;
}

.intro__title,
.intro__subtitle,
.intro__item,
.intro__btn {
  line-height: 36px;
}

.intro__list {
  margin: 30px 0 0 23px;
}

.intro__btn {
  background-color: $primary-color;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family: $open-sans;
  font-size: 20px;
  height: 49px;
  margin: 70px 0 0 10px;
  padding: 0;
  width: 212px;

  &::before {
    content: '';
  }
}

.intro__img-wrapper {
  position: relative;
  width: 59.401709401709%;
}

.intro__img {
  display: block;
  position: absolute;
  transition: transform .3s ease-out, opacity .3s ease-out;

  &.mod-small {
    background: url('../images/iphone-small.png');
    height: 600px;
    right: 152px;
    top: 174px;
    width: 346px;
    z-index: 1;
  }

  &.mod-big {
    background: url('../images/iphone-big.png');
    height: 663px;
    right: 45px;
    top: 110px;
    width: 382px;
  }
}
