.watch {
  background-color: #31d4e7;
  min-height: 447px;
  width: 100%;
}

.watch__desc {
  width: 48.717948717949%;
}

.watch__title {
  margin: 68px 0 9px;
}

.watch__text {
  color: #fff;
  line-height: 26px;
  margin: 0 0 23px;
  max-width: 540px;
}

.watch__social-link {
  background-color: #0098cd;
  border-radius: 100%;
  display: block;
  float: left;
  height: 68px;
  margin: 0 20px 0 0;
  transition: background-color .3s ease;
  width: 68px;

  //&::before {}

  &:hover {
    background-color: #222;
  }
}

.watch__container {
  margin: 73px 0 0;
  border-radius: 8px;
  max-width: 500px;
  overflow: hidden;
  width: 51.282051282051%;
}
