// bower:scss
@import "bower_components/reset-css/_reset.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower

// base
@import 'base/variables';
@import 'base/fontello';
@import 'base/utils';
@import 'base/slick';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: $open-sans;
  color: $base-color;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1210px; // 1170
  padding: 0 20px;
  width: 100%;
}

// shared components
@import 'components/text';
@import 'components/title';
@import 'components/input';

// blocks
@import 'blocks/header';
@import 'blocks/intro';
@import 'blocks/features';
@import 'blocks/watch';
@import 'blocks/team';
@import 'blocks/customers';
@import 'blocks/contact';
@import 'blocks/footer';
