// colors
$primary-color: #1ab798;
$base-color: #282528;

// fonts
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// queries (use only mobile first - min width queries)
$medium-screen-up: 769px;
$small-screen-up: 480px;
