.text {

  // weight
  &.mod-semi-bold { font-weight: 600; }
  &.mod-bold { font-weight: 700; }

  // size (typography scale)
  &.mod-small { font-size: 13px; }
  &.mod-regular { font-size: 16px; }
  &.mod-medium { font-size: 18px; }
  &.mod-big { font-size: 22px; }
  &.mod-large { font-size: 42px; }

  // color
  //&.mod-gray {}
}
