.title {
  color: $primary-color;
  font-family: $raleway;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;

  &::after {
    content: url('../../images/line.png');
    display: block;
    margin: -8px 0 0;
  }

  &.mod-black {
    color: #222;

    &::after {
      content: '';
      display: none;
    }
  }
}
